#blacklist all files/folders in directory
/*

#whitelist in root:
!.gitignore
!cntr/

#whitelist files in folder ending in .cpp or .hpp
cntr/*
!cntr/*.cpp
!cntr/*.hpp
moc*

!cntr/screens/
cntr/screens/*
!cntr/screens/*.cpp
!cntr/screens/*.hpp


