#blacklist all files/folders in directory
/*

#whitelist in root:
!.gitignore
!cntr/
!cntr/computer_setup

#whitelist files in folder ending in .cpp or .hpp
cntr/*
!cntr/*.cpp
!cntr/*.hpp
!cntr/*.pro
!cntr/Makefile
moc*

!cntr/screens/
cntr/screens/*
!cntr/screens/*.cpp
!cntr/screens/*.hpp


